---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Privacy"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>

    <p>本网站使用 Google AdSense 投放广告。</p>
    <p>Google 可能会使用 Cookie 来展示个性化广告。</p>
    <p>用户可通过 Google 广告设置页面选择退出。</p>
</Layout>

